<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    Añadir pregutna: <p>
    
    <form method="post" action="/quizes/create" >
	<% include _form.ejs %>
    </form>
  </body>
</html>